@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Maven+Pro:wght@400..900&family=Play:wght@400;700&family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*, *::before, *::after {
    margin: 0;
}
#app,
body {
    font-family: "M PLUS 1p", sans-serif !important;
    background-color: #E7E7E7;
}
.top__banner {
    display: flex;
    color: #FFFFFF;
    padding: 24px;
    background-color: #192339;
}
.top__banner img {
    height: 60px;
}
.calculator__container {
    background-color: #111111;
    padding: 18px 12px;
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
    grid-gap: 8px;
}
.zero {
    grid-column: 1 / 3;
    width: auto !important;
}
.calculator__button {
    font-size: 25px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator__button:hover {
    background-color: #242424;
}
.calculator__display {
    font-size: 45px;
    grid-column: 1 / 5;
    width: auto !important;
    padding: 0 12px;
    background-color: #111111;
    color: #FFFFFF;
    justify-content: flex-end;
}
.calculator__display:hover {
    background-color: #111111 !important;
}
.calculator__display:hover {
    background-color: #333333;
    cursor: text;
}
.operator {
    font-size: 28px;
    background-color: #E2922D;
    color: #FFFFFF;
}
.operator:hover {
    background-color: #a35f0c;
    cursor: pointer;
}
.sub__operator {
    background-color: #B9B9B9;
    color: #111111;
}
.sub__operator:hover {
    background-color: #8C8C8C;
}
footer {
    background-color: #192339;
    color: #FFFFFF;
}
footer p {
    font-size: 18px;
    font-weight: 500;
    padding: 24px;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .top__banner img {
        height: 40px;
        margin: 0 auto;
    }
    .calculator__button {
        font-size: 17px;
        height: 50px;
        width: 50px;
    }
    .calculator__display {
        font-size: 37px;
    }
    .operator {
        font-size: 20px;
    }
    footer p {
        padding: 20px;
    }
}